In [3]:
data <- read.csv('data/Clean_dataset.csv', header=TRUE)
head(data)

  X airline  flight  source_city departure_time stops arrival_time
1 0 SpiceJet SG-8709 Delhi       Evening        zero  Night
2 1 SpiceJet SG-8157 Delhi       Early_Morning  zero  Morning
3 2 AirAsia  I5-764  Delhi       Early_Morning  zero  Early_Morning
4 3 Vistara  UK-995  Delhi       Morning        zero  Afternoon
5 4 Vistara  UK-963  Delhi       Morning        zero  Morning
6 5 Vistara  UK-945  Delhi       Morning        zero  Afternoon
  destination_city class   duration days_left price
1 Mumbai           Economy 2.17     1         5953
2 Mumbai           Economy 2.33     1         5953
3 Mumbai           Economy 2.17     1         5956
4 Mumbai           Economy 2.25     1         5955
5 Mumbai           Economy 2.33     1         5955
6 Mumbai           Economy 2.33     1         5955